<img class="loading" *ngIf="loading" src="assets/img/loading.gif">
<button type="button" *ngIf="!loading" class="btn btn-info btn-lg addEmployee" (click)="openModal()">Add Employee</button>
<div *ngIf="!loading" class="card text-center m-3">
    <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Salary</th>
                <th scope="col">Profile Image</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of pageOfItems">
                <th scope="row">{{employee.id}}</th>
                <td>{{employee.employee_name}}</td>
                <td>{{employee.employee_age}}</td>
                <td>{{employee.employee_salary}}</td>
                <td><img class="user" *ngIf="employee.profile_image != ''" src="{{employee.profile_image}}" onerror="this.src='https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg'"/>
                <img class="user" *ngIf="employee.profile_image == ''" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg"/></td>
                <td><a title="Edit" (click)="editEmployee(employee.id)">
                    <span class="glyphicon glyphicon-pencil"></span>
                    </a> | 
                    <a title="Delete" (click)="deleteEmployee(employee.id)">
                    <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="card-footer pb-0 pt-3">
        <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{titleOfModal}}</h4>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="angForm" novalidate>
              <div class="form-group">
                <label class="col-md-4">Employee Name</label>
                <input type="text" class="form-control" 
                  formControlName="EmployeeName" 
                  #EmployeeName [(ngModel)]="employee.employee_name"/>
              </div>
              <div *ngIf="angForm.controls['EmployeeName'].invalid && (angForm.controls['EmployeeName'].dirty || angForm.controls['EmployeeName'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['EmployeeName'].errors.required">
                  Employee Name is required.
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-md-4">Employee Age</label>
                <input type="text" class="form-control" 
                  formControlName="EmployeeAge" 
                  #EmployeeAge [(ngModel)]="employee.employee_age"/>
              </div>
              <div *ngIf="angForm.controls['EmployeeAge'].invalid && (angForm.controls['EmployeeAge'].dirty || angForm.controls['EmployeeAge'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['EmployeeAge'].errors.required">
                  Employee Age is required.
                </div>
              </div>

              
              <div class="form-group">
                <label class="col-md-4">Employee Salary</label>
                <input type="text" class="form-control" 
                  formControlName="EmployeeSalary" 
                  #EmployeeSalary [(ngModel)]="employee.employee_salary"/>
              </div>
              <div *ngIf="angForm.controls['EmployeeSalary'].invalid && (angForm.controls['EmployeeSalary'].dirty || angForm.controls['EmployeeSalary'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['EmployeeSalary'].errors.required">
                  Employee Salary is required.
                </div>
              </div>
  
              <div class="form-group">
                <label class="col-md-4">Profile Image</label>
                <img class="user" *ngIf="employee.profile_image != '' && editForm" src="{{employee.profile_image}}" onerror="this.src='https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg'"/>
                <input type="text" class="form-control" 
                  formControlName="ProfileImage" 
                  #ProfileImage [(ngModel)]="employee.profile_image"/>
              </div>
              
              <div class="form-group">
                <button *ngIf="!editForm" type="submit" class="btn btn-primary" (click)="addEmployee(EmployeeName.value, EmployeeAge.value,EmployeeSalary.value, ProfileImage.value)"
                [disabled]="angForm.pristine || angForm.invalid" >
                  Add Employee
                </button>
                <button *ngIf="editForm" type="submit" class="btn btn-primary" (click)="updateEmployee(employee.id,EmployeeName.value, EmployeeAge.value,EmployeeSalary.value, ProfileImage.value)"
                [disabled]="angForm.pristine || angForm.invalid" >
                  Update Employee
                </button>
                <button type="button" class="btn btn-default closeButton" (click)="onCloseHandled()" >Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

