/* You can add global styles to this file, and also import other style files */
td{
    text-align: left;
}

.user{
    height: 40px;
    width: 40px;
}

.loading{
    width: 212px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.backdrop{ 
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}

.addEmployee{
    float: right;
}

a{
    cursor: pointer;
}

.closeButton{
    float: right;
}